<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bus Listings</title>
        <link rel="stylesheet" href="../static/bookticket-style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    </head>
<body>
    <header>
        <div class="container-header">
            <div class = row>
                <div class="col-md-2" style="width: 4%;"></div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../static/images/ChatGPT Image Apr 14, 2025, 02_53_33 PM.png" class="head-logo">
                        </div>
                        <div class="col-md-6" style="padding-left: 0px; margin-top: 6%;">
                            <img src="../static/images/Screenshot 2025-04-14 163509.png" class="head-logo1">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 hihi1" style="margin-left: 6%; color: red;"></div>
                <div class="col-md-1 hihi1"></div>
                <div class="col-md-1 hihi1"></div>
                <div class="col-md-1 hihi1"></div>
                <div class="col-md-1 hihi2" style="width: 7% !important;margin-left: 4% !important;"><i class="fas fa-percentage"></i><a class="header-link" href="">Offers</a></div>
                <div class="col-md-1 hihi2"><i class="fas fa-ticket"></i><a class="header-link" href="">Track Tickets</a></div>
                <div class="col-md-1 hihi2"><i class="fas fa-headset"></i><a class="header-link" href="">Need Help?</a></div>
                <div class="col-md-1 hihi2"><i class="fas fa-user-astronaut"></i><a class="header-link" href="{{ url_for('login_user') }}">Login/Signup</a></div>
            </div>
        </div>
    </header>
    <div class="container-box">
        <div class="left-panel">
          
        </div>
        <div class="right-panel">
            <h4 class="mb-2"><b>Book for {{ bus.bus_name}} <br> {{ bus.from_place }} <i class="fas fa-angle-double-right"></i> {{ bus.to_place }}</b></h4>
          <form action="{{ url_for('ticket_confirmation', bus_id= bus.bus_id) }}" method="POST">
            <div class="mb-2">
              <input type="text" class="form-control" placeholder="Enter Passenger Name" name="user-name" required>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" placeholder="Enter Passenger Age" name="user-age" required>
            </div>
            <div class="mb-2" style="margin-bottom: -5% !important;">
                <select id="gender" name="user-gender" class="form-control" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                        <option value="Other">Other</option>
                </select><br>
            </div>
            <div class="mb-2">
                <input type="number" class="form-control" style="margin-bottom: 3%;" placeholder="Number of Seats (Adults - Above 10)" name="adult-count" required>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" style="margin-bottom: 3%;" placeholder="Number of Seats (Kids - 5 to 10)" name="child-count" required>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" style="margin-bottom: 3%;" placeholder="Number of Seats (Kids - Below 5 )" name="infant-count" required>
            </div>
            <div class="mb-2">
              <button type="submit" class="submit-btn">Validate Ticket</button>
            </div>
          </form>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
